body {
  font-size: 12px;
  line-height: 1.5;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #b4b4b4;
  width: 1200px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------css for header--------------------*/

header {
  box-sizing: border-box;
  width: 1151px;
  min-height: 75px;
  margin: 0 auto;
  margin-top: 10px;
}

.header-logo {
  float: left;
  margin-left: -5px;
  background-color: #b0d5c4;
}

.main-navigation {
	float: left;
  box-sizing: border-box;
  width: 410px;
  margin-top: 18px;
  padding: 5px;
  background-color: #b0d5c4;
}

ul {
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
  background-color: #b055c4;
}

.user-panel {
	float: right;
  box-sizing: border-box;
  width: 550px;
  height: 32px;
  margin-top: 15px;
  text-align: right;
  background-color: #b0d5c4;
}

.user-panel-search {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  min-width: 30px;
  height: 32px;
  padding-top: 6px;
  text-align: center;
  background-color: #9d51a6;
}

.user-panel-login {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  min-width: 95px;
  height: 32px;
  margin-left: 10px;
  padding-top: 6px;
  text-align: center;
  background-color: #9d51a6;
}

.user-panel-cart {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 115px;
  height: 32px;
  margin-left: 10px;
  padding-top: 6px;
  text-align: center;
  background-color: #9d51a6;
}

.header-inf {
  position: absolute;
  top: 65px;
  left: 981px;
  float: right;
  width: 200px;
  height: 50px;
  text-align: right;
  margin: 0;
  margin-right: 27px;
  background-color: #b0d5c4;
}

/*--------------------css for header ends--------------------*/

/*--------------------css for index.html--------------------*/

main {
  width: 1146px;
  margin: 0 auto;
}

.slider {
  margin-bottom: 35px;
  padding: 5px 0px;
  text-align: center;
  background-color: #b0d5c4;
}

.promo {
  margin: 0;
}

.slide-bar {
  float: left;
}

.present {
  margin-bottom: 40px;
}

.present-left {
  float: left;
  box-sizing: border-box;
  width: 560px;
  min-height: 230px;
  margin-right: 26px;
  padding: 23px 20px;
  background-color: #b0d5c4;
}

.present-right {
  float: right;
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  padding: 23px 20px;
  background-color: #b0d5c4;
}

.popular {
  margin-bottom: 35px;
  padding: 5px 0px;
  font-size: 0px;
  background-color: #b0d5c4;
}

.popular-item {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 267px;
  min-height: 322px;
  margin-right: 26px;
  font-size: 12px;
  text-align: center;
  background-color: #b0d5c4;
}

.popular-item:last-child {
  margin-right: 0px;
}

.features {
  box-sizing: border-box;
  min-height: 305px;
  margin-bottom: 40px;
  padding: 25px 15px;
  font-size: 0px;
  background-color: #b0d5c4;
}

h3 {
  margin: 0;
}

.feature-item {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 550px;
  min-height: 80px;
  margin-right: 16px;
  margin-bottom: 6px;
  padding: 5px;
  font-size: 12px;
  background-color: #9d51a6;
}

.feature-item:nth-child(2n) {
  margin-right: 0px;
}

.blog-and-subscribe {
  margin-bottom: 40px;
}

.blog {
  float: left;
  box-sizing: border-box;
  width: 560px;
  min-height: 230px;
  margin-right: 26px;
  padding: 23px 20px;
  background-color: #b0d5c4;
}

.subscribe {
  float: right;
  box-sizing: border-box;
  width: 560px;
  min-height: 230px;
  padding: 23px 20px;
  background-color: #b0d5c4;
}

.contact-us {
  width: 1200px;
  height: 428px;
  margin-left: -27px;
  margin-bottom: 30px;
  background-color: #b0d5c4;
}

.contacts {
  float: right;
  box-sizing: border-box;
  width: 303px;
  height: 305px;
  padding: 30px 25px;
  margin-top: 60px;
  margin-right: 27px;
  background-color: #9d51a6;
}

/*--------------------css for index.html ends--------------------*/

/*--------------------css for catalog.html--------------------*/

.breadcrumbs {
  min-height: 15px;
  margin-bottom: 0px;
  background-color: #b0d5c4;
}

.breadcrumbs li {
  display: inline-block;
  background-color: #9d51a6;
}

h1 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  background-color: #b0d5c4;
}

.filter {
  width: auto;
  min-height: 135px;
  margin-bottom: 40px;
  padding: 5px;
  background-color: #b0d5c4;
}

.catalogue {
  font-size: 0px;
  background-color: #b0d5c4;
}

.catalogue-item {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 267px;
  min-height: 325px;
  margin-right: 26px;
  margin-bottom: 40px;
  font-size: 12px;
  background-color: #9d51a6;
}

.catalogue-item:nth-child(4n) {
  margin-right: 0px;
}

.pages {
  margin-top:35px;
  margin-bottom: 25px;
  text-align: right;
  background-color: #9d51a6;
}
/*--------------------css for catalog.html ends--------------------*/

/*--------------------css for footer--------------------*/

footer {
  width: 1146px;
  min-height: 100px;
  margin: 0 auto;
}

.footer-social {
  float: left;
  box-sizing: border-box;
  width: 270px;
  min-height: 40px;
  margin-right: 125px;
  padding: 5px;
  font-size: 0px;
  background-color: #b0d5c4;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.footer-about-us {
  float: left;
  box-sizing: border-box;
  width: 320px;
  min-height: 40px;
  padding: 5px;
  background-color: #b0d5c4;
}

.footer-about-us li {
  display: inline-block;
  vertical-align: top;
  background-color: #b055c4;
}

.footer-copyright {
  float: right;
  box-sizing: border-box;
  width: 267px;
  min-height: 50px;
  margin-top: -15px;
  padding: 5px;
  text-align: right;
  background-color: #b0d5c4;
}

.footer-logo {
  display: block;
}

/*--------------------css for footer ends--------------------*/
